/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Nuosu+SIL&family=Quicksand:wght@300;400;500;600;700&display=swap');

*{
  font-family: 'Nuosu SIL', serif;
}
.scatter-plot h1, .bar-chart h1{
  text-align: center;
  font-size: 45px;
  font-weight: 600;
}
.scatter-plot h3 , .bar-chart h3{
  font-size: 18px;
  text-align: center;
  font-weight: 400;
}
.bar-chart{
  margin-top: 35px;
}